body {
    background: url("images/menu_background.jpg")no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

#OurLogo {
    margin-top: 25px;
    margin-left: 35px;
}

h1 {
    background-color: #dd7835;
    color: white;
    display: inline;
    padding: 8px 22px;
}


.menuTitle {
    margin-top: 45px;
    margin-bottom: 50px;
}

.menu_list {
    margin-left: 30px;
}

.menu_list_item {
    margin: 30px 0px;
}

.pizza_name {
    font-size: 20px;
    font-weight: 600;
}

.pizza_price {
    color: #dd7835;
    margin-left: 8px;
    font-size: 20px;
}

.pizza_ingredients {
    color: #c8c8c8;
    font-size: 14px;
    margin-top: 4px;
    display: block;
}

.pizza_vegan {
    color: black;
    background-color: #dd7835;
    font-size: 9px;
    padding: 3px 8px;
    margin-top: 4px;
    border-radius: 8px;
    display: inline-block;
    font-weight: bold;
}